/* home.module.css */

.slideIn {
    animation: slide-in 0.5s ease-out forwards;
  }
  
  .slideOut {
    animation: slide-out 0.5s ease-in forwards;
  }
  
  @keyframes slide-in {
    0% {
      transform: translateY(20px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  @keyframes slide-out {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(20px);
      opacity: 0;
    }
  }
  

  @keyframes light-beam {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}

.animate-light-beam {
  background: linear-gradient(135deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0) 100%);
  background-size: 200% 200%;
  animation: light-beam 6s ease infinite;
}
