/* register.module.css */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(to right, #f9f1e7, #f79c4d);  
  padding: 20px;
}

.title {
  margin-bottom: 1.5rem;
  font-size: 2rem;
  color: #3e3e3e;  
  font-weight: bold;
}

.formWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  background: rgba(255, 255, 255, 0.3);  
  backdrop-filter: blur(10px);  
  border-radius: 10px;
  padding: 2rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.inputGroup {
  margin-bottom: 1rem;
}

.label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
  color: #3e3e3e;  
}

.inputField {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
  transition: border-color 0.3s;
}

.inputField:focus {
  border-color: #f79c4d;  
}

.submitButton {
  width: 100%;
  padding: 10px;
  margin-bottom: 1rem;
  background-color: #f79c4d;  
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submitButton:hover {
  background-color: #e58e26;  
}

.errorMessage {
  color: #ff3838; 
  margin-bottom: 1rem;
}

.signInContainer {
  text-align: center;
  margin-top: 1rem;
}

.signInText {
  font-size: 0.9rem;
  color: #3e3e3e;  
}

.signInLink {
  color: #f79c4d;  
  text-decoration: underline;
}

.signInLink:hover {
  color: #e58e26;  
}

.alternativeRegisterContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  width: 100%;
  max-width: 400px;
}

.googleButton,
.appleButton {
  width: 100%;
  padding: 10px;
  margin-bottom: 1rem;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.googleButton {
  background-color: #ea4335;  
  color: #fff;
}

.googleButton:hover {
  background-color: #d93025; 
}

.appleButton {
  background-color: #ffffff;  
  color: #000000;  
}

.appleButton:hover {
  background-color: #f0f0f0; 
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .formWrapper,
  .alternativeRegisterContainer {
    width: 100%;
    padding: 1.5rem;
  }
}
